.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.ruff_cache
.venv
venv
test
tests
*.md
!README.md
examples
scripts
common-dev-assets
.secrets.baseline
.pre-commit-config.yaml
renovate.json
