apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: tim-mcp
spec:
  to:
    kind: Service
    name: tim-mcp
    weight: 100
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
